@import "../variables.scss";
@import "../typography.scss";

.listContainer {
  @include font-defaults;
  width: 320px;

  .list {
    border-bottom: 1px solid var(--primary-color);
    border-radius: 4px;
  }
  
}

.listHeaders {
  display: grid;
  grid-template-columns: 1fr 3fr;

  .listHeader {
    border-right: 1px solid var(--primary-color);
    padding-left: 16px;
    margin: 0;
  }
}

